@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,600;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
:root {
    --body-color: #272829;
    --text-color: #61677A;
    --blue-color: #4E4FEB;
    --alt-color: #D8D9DA;
    --alt-color2: #FFF6E0;
}
body {
    font-size: 17px;
}
img {
    max-width: 100%;
}
#dark_mode {
    width: 50px;
    cursor: pointer;
}
.dark .box {
    background-color: #000;
    color: #fff;
}
.dark .face {
    background-color: #fff;
}
.game-box .front::after {
    color: #000;
}
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #3771e08a;
        display: -webkit-box; /* Old Safari */
        display: -moz-box; /* Old Firefox */
        display: -ms-flexbox; /* IE 10 */
        display: -webkit-flex; /* Old Chrome and Safari */
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #F8F8FD;
    margin-bottom: 20px;
}
.box {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 15px;
    transition: 0.3s;
}
.box span {
    color: #2196f3;
    font-size: 18px;
    font-weight: bold;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.game-container.unable-to-click {
    pointer-events: none;
}
.game-box {
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin: 0 10px 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.game-box .front {
    background-color: #333;
    line-height: 100px;
    z-index: 1;
}
.game-box .front::after {
    content: "!";
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}
.game-box .back {
    transform: rotateY(180deg);
}
.game-box .back img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.game-box .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    border: 3px solid #2196f3;
}
.game-box.is-flipped,
.game-box.matching {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.copyright {
    padding: 10px;
    text-align: center;
    color: #333333a8;
}
@media screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
    }
    .game-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 540px) {
    .header {
        flex-wrap: wrap;
    }
    .game-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .box {
        margin-bottom: 10px;
    }
}